<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Latform - Login and Register Form Templates</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../dist/vendor/bootstrap-4.5.3/css/bootstrap.min.css" type="text/css">
    <!-- Material design icons -->
    <link rel="stylesheet" href="../../dist/icons/material-design-icons/css/mdi.min.css" type="text/css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <!-- Latform styles -->
    <link rel="stylesheet" href="../../dist/css/latform-style-1.css" type="text/css">
</head>
<body>
<div class="form-wrapper">
    <div class="container">
        <div class="card">
            <div class="card-body">
                
                <div class="my-5 text-center">
                    <h3 class="font-weight-bold mb-3">Mot de Passe oublié</h3>
                    <p class="text-muted">Veuillez entrer votre e-mail</p>
                    <p class="text-muted">Ensuite après l'envoie de la requette, veuillez vérifier votre e-mail</p>
                </div>
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="form-icon-wrapper">
                            <input type="email" class="form-control" id="email" placeholder="Entrer votre email" autofocus
                                   required>
                            <i class="form-icon-left mdi mdi-email"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Envoyer</button>
                    </div>
                </form>
                <p class="text-center">retourner pour<a href="sign-in.html">vous connectez</a> ou <a href="sign-up.html">sur la page d'acceuill
                    account</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- Jquery -->
<script src="../../dist/vendor/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../dist/vendor/bootstrap-4.5.3/js/bootstrap.min.js"></script>
<!-- Latform scripts -->
<script src="../../dist/js/latform.min.js"></script>
</body>
</html>
